
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
zha:
  custom_quirks_path: zha_quirks

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
